#editorial {
  .editorial-title {
    margin: 0;
  }

  label {
    margin-bottom: 0.5rem;
  }
  .divider {
    margin-bottom: 1rem;
  }
  .header-menu {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .buttons {
      margin: auto 0;

      button:first-child {
        margin-right: 1rem;
      }
    }

    .submit-btn {
      margin-left: auto;
    }
  }

  input,
  textarea,
  select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    min-width: 12.5rem;
  }

  input {
    width: 12.5rem;
  }

  .selection-wrapper {
    display: flex;
    gap: 1rem;
    align-items: flex-end;

    button {
      margin-bottom: 1rem;
    }
  }

  .input-button-group {
    display: flex;
    align-items: flex-start;

    input {
      width: 100%;
    }

    .content-input {
      border-top-right-radius: 0;
    }

    .content-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .title-button-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    button {
      margin-bottom: 1rem;
    }
  }

  .editorial-content {
    display: flex;
    flex-direction: column;

    .headline-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      gap: 1rem;
      width: 100%;
      margin-bottom: 1rem;
      border: 0.1rem solid grey;
      border-radius: 0.5rem;

      .legend-text {
        font-weight: 500;
        font-size: 1.25rem;
        color: grey;
        font-style: italic;
      }

      .field {
        margin-bottom: 0.5rem;
      }

      .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &.hide {
          display: none;
        }
      }

      .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        label {
          margin: 0;
        }

        &.hide {
          display: none;
        }

        .area {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
