@import "../../../Theme.scss";

#editorial {
  .editorial-title {
    margin: 0;
  }

  label {
    margin-bottom: 0.5rem;
  }
  .divider {
    margin-bottom: 1rem;
  }
  .header-menu {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .buttons {
      margin: auto 0;

      button:first-child {
        margin-right: 1rem;
      }
    }

    .submit-btn {
      margin-left: auto;
    }
  }

  input,
  textarea,
  select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    min-width: 12.5rem;
  }

  input {
    width: 12.5rem;
  }

  .selection-wrapper {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    flex-wrap: wrap;

    button {
      margin-bottom: 1rem;
    }

    .info-element {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border: transparent 0.2rem solid;
      border-radius: 0.5rem;

      i {
        font-size: 1.25rem;
      }

      &:hover {
        border: darken($info, 20%) 0.2rem solid;
        border-radius: 0.5rem;
        i {
          color: darken($info, 20%);
        }
      }
    }

    .info-element-text {
      display: none;
      position: absolute;
      font-size: 0.825rem;
      background-color: #fff;
      padding: 0.25rem 0.5rem;
      border: 0.1rem solid grey;
      border-radius: 0.5rem;
      z-index: 1;
      top: 100%;

      &.show {
        display: block;
      }
    }
  }

  .title-button-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    button {
      margin-bottom: 1rem;
    }
  }

  .editorial-content {
    display: flex;
    flex-direction: column;

    .headline-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      gap: 1rem;
      width: 100%;
      margin-bottom: 1rem;
      border: 0.1rem solid grey;
      border-radius: 0.5rem;

      .legend-text {
        font-weight: 500;
        font-size: 1.25rem;
        color: grey;
        font-style: italic;
      }

      .field {
        margin-bottom: 0.5rem;
      }

      .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &.hide {
          display: none;
        }
      }

      .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        label {
          margin: 0;
        }

        &.hide {
          display: none;
        }

        .area {
          height: 100%;
          width: 100%;
        }

        .content-element {
          display: flex;
          align-items: flex-start;

          input {
            width: 100%;
          }

          .content-input {
            border-top-right-radius: 0;
          }

          .content-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        .content-text {
          $color: #808080;
          border-color: $color;

          &.content-btn {
            background-color: $color;
            color: #fff;
          }

          textarea {
            border-color: $color;
          }
          button {
            background-color: $color;
            border-color: $color;
            i {
              color: #fff;
            }
          }
        }

        .content-quote {
          $color: #bbb803;
          border-color: $color;

          &.content-btn {
            background-color: $color;
            color: #fff;
          }
          textarea {
            border-color: $color;
          }
          button {
            background-color: $color;
            border-color: $color;
            i {
              color: #fff;
            }
          }
        }

        .content-formula {
          $color: #038f2d;
          border-color: $color;

          &.content-btn {
            background-color: $color;
            color: #fff;
          }
          textarea {
            border-color: $color;
          }
          button {
            background-color: $color;
            border-color: $color;
            i {
              color: #fff;
            }
          }
        }

        .content-img {
          $color: #a412c9;
          border-color: $color;

          &.content-btn {
            background-color: $color;
            color: #fff;
          }
          input {
            border-color: $color;
          }
          button {
            background-color: $color;
            border-color: $color;
            i {
              color: #fff;
            }
          }
        }

        .content-link {
          $color: #43a9fc;
          border-color: $color;

          &.content-btn {
            background-color: $color;
            color: #fff;
          }
          textarea {
            border-color: $color;
          }
          button {
            background-color: $color;
            border-color: $color;
            i {
              color: #fff;
            }
          }
        }
      }

      .content-menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #editorial {
    .selection-wrapper {
      .info-element-text {
        margin: 0 5%;
        left: 0;
        right: 0;
      }
    }

    .editorial-content {
      .description {
        min-height: 10rem;
      }

      .headline-body {
        flex-wrap: wrap;

        .content-wrapper {
          .content-buttons {
            flex-wrap: wrap;
          }

          .content-element:not(.content-img) {
            min-height: 7.5rem;
          }
        }
        .content-menu {
          flex-direction: row;
        }
      }
    }
  }
}
