@import "../../../Theme.scss";

#editorial {
  .editorial-title {
    margin: 0;
  }

  label {
    margin-bottom: 0.5rem;
  }

  .header-menu {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .buttons {
      margin: auto 0;

      button:first-child {
        margin-right: 1rem;
      }
    }

    .submit-btn {
      margin-left: auto;
    }
  }

  input,
  textarea,
  select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    min-width: 12.5rem;
  }

  input {
    width: 12.5rem;
  }

  .selection-wrapper {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    flex-wrap: wrap;

    button {
      margin-bottom: 1rem;
    }

    .info-element {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border: transparent 0.2rem solid;
      border-radius: 0.5rem;

      i {
        font-size: 1.25rem;
      }

      &:hover {
        border: darken($info, 20%) 0.2rem solid;
        border-radius: 0.5rem;
        i {
          color: darken($info, 20%);
        }
      }
    }

    .info-element-text {
      display: none;
      position: absolute;
      font-size: 0.825rem;
      background-color: #fff;
      padding: 0.25rem 0.5rem;
      border: 0.1rem solid grey;
      border-radius: 0.5rem;
      z-index: 1;
      top: 100%;

      &.show {
        display: block;
      }
    }
  }

  .title-button-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    button {
      margin-bottom: 1rem;
    }
  }

  .editorial-content {
    display: flex;
    flex-direction: column;

    .headline-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      gap: 1rem;
      width: 100%;
      margin-bottom: 1rem;
      border: 0.1rem solid grey;
      border-radius: 0.5rem;

      .legend-text {
        font-weight: 500;
        font-size: 1.25rem;
        color: grey;
        font-style: italic;
      }

      .field {
        margin-bottom: 0.5rem;
      }

      .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &.hide {
          display: none;
        }
      }

      .content-wrapper {
        $color: #808080;
        width: 100%;

        label {
          margin: 0;
        }

        &.hide {
          display: none;
        }

        .area {
          width: 100%;
          border-color: $color;
          height: 3rem;
        }

        .content-buttons {
          margin-bottom: 1rem;
          margin-top: 0.5rem;
        }

        .content-element {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          .content-label {
            padding: 0.25rem 0.5rem 0 0.5rem;
            background-color: $color;
            border-radius: 10px 10px 0 0;
            color: #fff;
            font-size: 0.85rem;
          }

          .content-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }

          .content-body {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            width: 100%;
          }

          .drag-handle-wrapper {
            margin-right: 40%;
          }

          .drag-handle {
            padding: 0 0.75rem;

            &:nth-child(1) {
              border-radius: 0.25rem 0 0 0;
            }
            &:nth-child(2) {
              border-radius: 0 0.25rem 0 0;
            }

            i {
              font-size: 1rem;
            }
          }

          input {
            width: 100%;
            border-color: $color;
          }

          .content-input {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
          }

          .close-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }

      .content-menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #editorial {
    .selection-wrapper {
      .info-element-text {
        margin: 0 5%;
        left: 0;
        right: 0;
      }
    }

    .editorial-content {
      .description {
        min-height: 10rem;
      }

      .headline-body {
        flex-wrap: wrap;

        .content-menu {
          flex-direction: row;
        }
      }
    }
  }
}
