@import "../../Theme.scss";

.sidebar-main-grid {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.sidebar {
  padding: 1rem;
  grid-area: sidebar;
  display: block;
  position: sticky;
  overflow-y: auto;
  top: 4rem;
  height: calc(100vh - 4rem);
  min-width: 12.5rem;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "intro toc"
    "content toc";
  grid-template-rows: auto 1fr;
  grid-template-columns: 4fr 1fr;
  gap: 1.5rem;

  .no-style {
    color: blue;
    &:hover {
      text-decoration: none;
    }
  }

  .intro {
    grid-area: intro;
    padding: 1rem 0 0 0.5rem;
    margin-bottom: 2rem;
  }

  .content {
    grid-area: content;
    padding-left: 0.5rem;

    .headline-box {
      margin-bottom: 1.5rem;
    }

    .content-box {
      & > * {
        margin-bottom: 1rem;
      }
      .text-box {
      }

      .external-link {
      }

      .code-box pre {
        $color: #d1e1f8;
        background-color: $color;
        border: $color 1px solid;
        margin: 0;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        width: 100%;
      }

      .img-box {
        img {
          width: 100%;
          max-height: 20rem;
          object-fit: contain;
        }
      }
    }
  }

  .headline {
    padding-top: 5rem;
    margin-top: -5rem;
  }

  .toc {
    grid-area: toc;
    display: block;
    position: sticky;
    overflow-y: auto;
    top: 4rem;
    height: calc(100vh - 4rem);
    padding: 1rem 0 0 1rem;

    .divider {
      border-top: 0.5px solid grey;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 0.25rem;
      }

      a {
        color: $text;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .sidebar-main-grid {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .main {
    grid-template-areas:
      "intro"
      "toc"
      "content";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    padding: 0 6vw;
    min-height: calc(100vh - 9rem);

    .intro,
    .toc,
    .content {
      padding-left: 0;
    }

    .toc {
      position: relative;
      top: 0;
      height: fit-content;

      h3 {
        margin: 0;
      }
    }
  }
}
