.sidebar-main-grid {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "intro toc"
    "content toc";
  grid-template-rows: auto 1fr;
  grid-template-columns: 4fr 1fr;
  gap: 1.5rem;

  .no-style {
    color: blue;
    &:hover {
      text-decoration: none;
    }
  }

  .intro {
    grid-area: intro;
    padding: 1rem 0 0 0.5rem;
    margin-bottom: 2rem;
  }

  .content {
    grid-area: content;
    padding-left: 0.5rem;
  }

  .headline {
    padding-top: 5rem;
    margin-top: -5rem;
  }

  .toc {
    grid-area: toc;
    display: block;
    position: sticky;
    overflow-y: auto;
    top: 4rem;
    height: calc(100vh - 4rem);
    padding: 1rem 0 0 1rem;

    .divider {
      border-top: 0.5px solid grey;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 0.25rem;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
