@import "../../Theme.scss";

#user {
  min-height: $page-height;

  .title {
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

    .placeholder-box {
      width: 15rem;
      height: 15rem;
      background-color: lightblue;

      &::before {
        content: "Some content";
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #user {
    .box {
      margin: auto;
    }
  }
}
