#user {
  min-height: calc(100vh - 9rem);

  .title {
    text-align: center;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;

    .placeholder-box {
      width: 15rem;
      height: 15rem;
      background-color: lightblue;

      &::before{
        content: 'Some content';
      }
    }
  }
}
