#drug-content {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1.5rem;

  ul {
    margin-top: 0;
  }
  .list a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.drug-intro {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

 
}

.button-group {
  button:not(:last-of-type):not(:first-of-type)  {
    border-radius: 0;
  };
  button:first-of-type {
    border-radius: 0.375rem 0 0 0.375rem;
  }
  button:last-of-type {
    border-radius: 0 0.375rem 0.375rem 0;
  }
}
