#drug-content {
    padding-bottom: 1.5rem;
  
    #drug-content-tile {
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
    }
    
    ul {
      margin-top: 0;
    }
    .list a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
 
  
  