@import "../../Theme.scss";

#about {
  min-height: $page-height;

  .page-title {
    margin-bottom: 1rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: dense;
    gap: 1.5rem;
  }

  p {
    text-align: justify;
  }

  #about-the-project {
    p {
      &:first-of-type {
        &::first-letter {
          font-size: 3rem;
          padding: 0 0.3rem 0.5rem 0.3rem;
          margin: 0 0.3rem 0 0;
          line-height: 1;
          float: left;
          border-radius: 8px;
        }
      }
    }
  }

  #about-me {
    justify-self: start;
    width: 100%;
    .introduction {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .img-box {
        img {
          margin-top: 1rem;
          border-radius: 1rem;
          width: 17.5rem;
          object-fit: cover;
        }
      }
      .cv-list {
        list-style: "👉  ";
        max-width: 20rem;
        padding-left: 2rem;
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 820px) {
  #about {
    .grid-container {
      grid-template-columns: 2fr 1fr;
    }
    #about-me {
      justify-self: center;

      .introduction {
        flex-direction: column;
        flex-wrap: nowrap;
        .img-box {
          img {
            width: 100%;
            max-width: 20rem;
          }
        }
        .cv-list {
          margin: 0;
        }
      }
    }
  }
}

// @media screen and (min-width: 1000px) {
//   #about {
//   }
// }
