@import "../../Theme.scss";

#navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .offcanvas-container {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(128, 128, 128, 0.75);

    .menu-container {
      width: 25rem;
      height: 100%;
      background-color: #fff;

      .menu-header {
        height: 5rem;
        border-bottom: 1px solid grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
      }

      .menu-body {
        height: 100%;
      }
    }
  }

  img {
    aspect-ratio: inherit;
    height: 3rem;
  }

  .menu-btn {
    display: none;
    padding: 0.25rem;
    i {
      color: $secondary;
      font-size: 2rem;
    }
  }

  .responsive-menu {
    display: flex;
    flex-direction: row;
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      margin: 0;
    }

    li {
      list-style-type: none;
      padding: 0.5rem;
    }
  }

  #logo {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      transform: rotate(20deg) scale(1.1);
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  a {
    color: $text-light;
    &.active {
      font-weight: 500;
    }

    &:disabled {
      pointer-events: none;
      color: grey;
    }
  }

  .log-out-btn {
    margin-left: auto;
  }

  .dialoge-menu {
    position: absolute;
    top: -0.2rem;
    right: -0.5rem;
    background-color: $bg;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem 0;

    ul {
      flex-direction: column;
      padding: 0;

      a {
        color: inherit;
        &.active {
          background-color: $primary;
          color: $text-light;
          li {
            color: $text-light;
          }
        }

        li {
          padding: 0.5rem 1rem;

          &:hover {
            background-color: $primary;
            color: $text-light;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  #navbar {
    .menu-btn {
      display: block;
    }
    .responsive-menu {
      display: none;
    }
  }
}
