@import "../../Theme.scss";

#navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #offcanvas-container {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.5);
    opacity: 0;

    &.show {
      animation: offcanvasShow 300ms ease both;
    }

    &.transition {
      animation: offcanvasHide 300ms ease both;
      visibility: hidden;
    }

    &.hide {
      display: none;
    }

    @keyframes offcanvasShow {
      from {
        opacity: 0;
        visibility: hidden;
      }
      to {
        opacity: 1;
        visibility: visible;
      }
    }

    @keyframes offcanvasHide {
      from {
        opacity: 1;
        visibility: visible;
      }
      to {
        opacity: 0;
        visibility: hidden;
      }
    }

    #offcanvas-menu {
      width: 25rem;
      height: 100%;
      background-color: #fff;

      &.show {
        animation: menuSlideIn 300ms ease both;
      }

      &.transition {
        animation: menuSlideOut 300ms ease both;
      }

      &.hide {
        display: none;
      }

      @keyframes menuSlideIn {
        from {
          transform: translateX(-20rem);
        }
        to {
          transform: translateX(0rem);
        }
      }

      @keyframes menuSlideOut {
        from {
          transform: translateX(0rem);
        }
        to {
          transform: translateX(-20rem);
        }
      }

      .menu-header {
        border-bottom: 1px solid #dee2e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
      }

      .menu-body {
        height: 100%;
        padding-left: 1rem;
      }
    }
  }

  .menu-btn {
    display: none;
    padding: 0.25rem;

    i {
      color: $secondary;
      font-size: 2rem;
    }

    &:hover {
      cursor: pointer;
      i {
        color: darken($secondary, 25%);
      }
    }
  }

  .responsive-menu {
    display: flex;
    flex-direction: row;
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      margin: 0;
    }

    li {
      list-style-type: none;
      padding: 0.5rem;
    }
    a {
      color: $text-light;
      &.active {
        font-weight: 500;
      }

      &:disabled {
        pointer-events: none;
        color: grey;
      }
    }
  }

  #logo {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    aspect-ratio: inherit;
    height: 3rem;

    &.effect {
      animation: logo 750ms ease-in-out;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  @keyframes logo {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(20deg) scale(1.1);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
  }

  .log-out-btn {
    margin-left: auto;
  }

  .dialoge-menu {
    position: absolute;
    top: -0.2rem;
    right: -0.5rem;
    background-color: $bg;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem 0;

    .menu-item-list {
      padding: 0;
      list-style: none;

      a {
        color: inherit;
        &.active {
          background-color: $primary;
          color: $text-light;

          li {
            color: $text-light;
            background-color: $primary;
          }
        }

        li {
          padding: 0.5rem 1rem;

          &:hover {
            background-color: $primary;
            color: $text-light;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  #navbar {
    .menu-btn {
      display: block;
    }
    .responsive-menu {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    #offcanvas-container {
      #offcanvas-menu {
        width: 100%;
      }
    }
  }
}
