@import "../../../Theme.scss";

.toast-container {
  display: none;
  max-width: 25rem;
  width: fit-content;
  position: fixed;
  z-index: 1;
  bottom: 3.75rem;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  transition: all 350ms ease;

  .toast-message {
    max-width: 25rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    margin: auto;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 3px 3px 4px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .children {
      color: inherit;
    }

    &.success {
      color: #fff;
      background-color: $success;
    }

    &.warn {
      color: #fff;
      background-color: $warn;
    }

    &.info {
      background-color: $info;
    }
  }

  &.show {
    display: block;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .toast-container {
    width: 75vw;

    .toast-message {
      width: 75vw;
    }
  }
}
