@import "../../../Theme.scss";

.fullscreen-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1021;

  .image-wrapper {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;

    .fullscreen-image {
      max-width: 95vw;
      max-height: 95vh;
      box-shadow: rgba(255, 226, 226, 0.25) 0px 25px 50px -12px;
      border-radius: 0.25rem;
    }

    .fullscreen-caption {
      color: $text;
      width: fit-content;
      background-color: #e7e7e7;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
    }
  }
}

@media screen and (max-width: 990px) {
  .fullscreen-container {
    .image-wrapper {
      .fullscreen-image {
        max-width: 95vw;
        max-height: 95vh;
        margin-top: 2rem;
      }
      .fullscreen-caption {
        font-size: 0.75rem;
        max-width: 40vw;
      }
    }
  }
}

@media screen and (max-width: 990px) and (orientation: landscape) {
  .fullscreen-container {
    .image-wrapper {
      display: flex;
      align-items: end;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      .fullscreen-image {
        max-width: 95vw;
        max-height: 90vh;
        margin-top: 0.25rem;
      }
      .fullscreen-caption {
        margin: 0.25rem 1rem;
        max-width: 100%;
      }
    }
  }
}
