@import "../../Theme.scss";

.login-container {
  width: 100%;
  min-height: $page-height;
  display: flex;
  justify-content: center;
  align-items: center;

  .log-in-form {
    padding-top: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        min-width: 10rem;
        width: 15rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
      }
    }

    .validation {
      min-width: 10rem;
      width: 15rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
