.nav-menu-rigth{
  margin-left: auto;

  .avatar-btn {
    // width: 2.375rem;
    // border-radius: 50%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    i {
      font-size: 2.375rem;
    }
  }
}
