.offcanvas-body {
  .offcanvas-list {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      line-height: 21px;
    }

    ul {
      padding: 0;
      margin: 0;
    }
  }

  a {
    margin-left: 1rem;
    margin-top: 0.125rem;
    margin-bottom: 0.5rem;
    padding: 0.1875rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
  }

  .menu-block {
    margin-bottom: 1rem;
  }

  .links-heading {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    img {
      aspect-ratio: 1/1;
      width: 1.5rem;
    }
  }
}

@media screen and (max-width: 990px) {
  .offcanvas-body {
    .offcanvas-list {
      column-count: 2;
      column-gap: 1.5rem;
    }
  }
}
