@import "../../../Theme.scss";

#drug-detail {
  padding-top: 1rem;

  .card-title {
    font-size: 2rem;
    font-weight: 500;
  }
  .drug-detail-container {
    .drug-detail-header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
    }
    .drug-detail-body {
      margin-top: 1.5rem;
      border-radius: 0.75rem;
      $bg-color: rgba(247, 247, 162, 0.39);
      $bg-stripes: darken($bg-color, 40%);

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "img img note note note note"
        "group group group ingredients ingredients ingredients"
        "use use use special special special";
      background-image: linear-gradient($bg-stripes 1px, transparent 1px);
      background-color: $bg-color;
      background-size: 100% 2rem;
      padding: 1rem 1.5rem;
      line-height: 1.5rem;
      gap: 1.5rem;

      .grid-img {
        grid-area: img;
      }

      .grid-note {
        grid-area: note;
      }
      .grid-group {
        grid-area: group;
      }
      .grid-ingredients {
        grid-area: ingredients;
      }
      .grid-use {
        grid-area: use;
      }
      .grid-special {
        grid-area: special;
      }

      .bold {
        font-weight: 700;
      }

      .info-group > *:not(:last-child) {
        padding-bottom: 1.5rem;
      }

      .list-box {
        ul {
          margin: 0;
        }

        .highlight {
          &::after {
            content: " (bevorzugt)";
          }
        }
      }

      .special-info {
        border-radius: 0.5rem;
        border: 1px solid darken($info, 35%);
        background-color: lighten($info, 30%);
        background-color: adjust-color($info, $lightness: 30%);
        padding: 0.5rem;
        height: fit-content;

        label,
        .list-box li,
        .info-text {
          color: darken($info, 35%);
        }
      }

      .card-img {
        object-fit: contain;
        width: 100%;
        border-radius: 0.25rem;
        background-color: #fff;
      }

      .tesa {
        position: absolute;
        width: 4rem;
        height: 2rem;
        z-index: 2;
        background: rgba(255, 255, 255, 0.11);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        transform: rotate(-10deg);
        top: -0.5rem;
        left: 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #drug-detail {
    .drug-detail-container {
      .drug-detail-body {
        grid-template-columns: 1fr;
        grid-template-areas:
          "img "
          "note"
          "group"
          "ingredients"
          "use"
          "special";
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #drug-detail {
    .drug-detail-container {
      .drug-detail-header {
        flex-direction: column;
        margin-bottom: 1.5rem;
        gap: 1rem;
      }
    }
  }
}

@media print {
  #header,
  #footer,
  .sidebar {
    display: none;
  }
  #drug-detail {
    .btn-group,
    .tesa {
      display: none;
    }
    .card-img {
      box-shadow: none;
    }
  }

  .sidebar-main-grid,
  .main {
    display: block;
    width: 100%;
    padding: 0%;
    margin: auto;
  }
}
