@import "../../../Theme.scss";

#drug-content {
  padding-bottom: 1.5rem;

  .category-box {
    &:not(:first-of-type) {
      margin-top: 3rem;
    }

    .headline {
      margin-bottom: 1rem;
      font-size: 1.375rem;
    }

    .drug-content-tile {
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      row-gap: 1rem;
      column-gap: 2%;
    }
  }

  ul {
    margin-top: 0;
    z-index: 1;
  }
  .list a {
    color: $text;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  #category-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    li {
      width: 12.5rem;
    }
    .category-list-item {
      margin-top: 0.5rem;
      list-style: initial;
      padding-left: 1.5rem;
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  #drug-content {
    .category-box {
      .drug-content-tile {
        justify-content: space-between;
        row-gap: 2rem;
      }
    }

    #category-list {
      li {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #drug-content {
    .category-box {
      .drug-content-tile {
        justify-content: space-between;
        row-gap: 2rem;
      }
    }

    #category-list {
      li {
        width: 45%;
      }
    }
  }
}
