#drug-detail {
  border-radius: 15px;
  padding-top: 1rem;
  padding-left: 0.5rem;

  .bold {
    font-weight: 700;
  }
  .card-title {
    font-size: 2rem;
    font-weight: 500;
  }

  .card-note {
    white-space: pre-wrap;
    padding: 1rem 0;
  }

  .card-img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 33%;
  }

  p {
    display: flex;
    justify-content: left;

    span {
      width: 9rem;
    }
  }

  .list-box {
    display: flex;
    justify-content: left;

    label {
      width: 9rem;
    }

    ul {
      margin-top: 0;
      padding-left: 20px;
    }

    .highlight {
      &::after{
        content: ' (bevorzugt)';
      }
    }
  }
}

@media print {
  #header,
  #footer,
  .sidebar,
  #drug-detail .btn-group {
    display: none;
  }

  .sidebar-main-grid,
  .main {
    display: block;
    width: 100%;
    padding: 0%;
    margin: auto;
  }
}
