@import "../../../Theme.scss";

.card {
  border-radius: 15px;
  width: 16rem;
  height: fit-content;
  transition: all 450ms ease;
  background-color: darken($bg, 3%);

  &:hover:not(.simple) {
    transform: translateY(-10px);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  a {
    text-decoration: none;
  }

  * {
    border-radius: inherit;
  }

  .bold {
    font-weight: 700;
  }

  .card-body {
    padding: 1rem;
    border: 0.5px solid #0000002d;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .card-title {
    margin: 0 0 0.5rem 0;
    font-size: 1.15rem;
    hyphens: auto;
  }

  .card-note {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.325rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    border-radius: 0%;
  }

  .card-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -4px;
    border-top: 0.5px solid #0000002d;
    border-left: 0.5px solid #0000002d;
    border-right: 0.5px solid #0000002d;
  }

  &.simple:not(.small) {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 25rem;
  }

  &.small {
    width: 18%;

    .card-title {
      font-size: 1rem;
      hyphens: auto;
    }

    .card-note {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .card {
    width: 48%;
    &.simple:not(.small) {
      width: 100%;
    }

    &.small {
      width: 30%;

      &:last-child:not(.simple) {
        margin-right: 35%;
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .card {
    width: 100%;
    &.simple:not(.small) {
      width: 100%;
    }

    &.small {
      width: 45%;
    }
  }
}
