.card {
  border-radius: 15px;
  width: 16.5rem;
  height: fit-content;
  transition: all 450ms ease;

  &:hover:not(.simple) {
    transform: translateY(-10px);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  a {
    text-decoration: none;
  }

  * {
    border-radius: inherit;
  }

  .bold {
    font-weight: 700;
  }

  .card-body {
    padding: 1rem;
    border: 0.5px solid #0000002d;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .card-title {
    margin: 0 0 0.5rem 0;
    font-size: 1.15rem;
    hyphens: auto;
  }

  .card-note {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.325rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    border-radius: 0%;
  }

  .card-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -4px;
    border-top: 0.5px solid #0000002d;
    border-left: 0.5px solid #0000002d;
    border-right: 0.5px solid #0000002d;
  }

  &.small {
    width: 10rem;

    .card-title {
      font-size: 1rem;
      hyphens: auto;
    }

    .card-note {
      display: none;
    }
  }
}
