#drug-overview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;

  .drug-intro-title {
    width: 100%;
  }

  .button-group {
    z-index: 1;
    button:not(:last-of-type):not(:first-of-type) {
      border-radius: 0;
    }
    button:first-of-type {
      border-radius: 0.375rem 0 0 0.375rem;
    }
    button:last-of-type {
      border-radius: 0 0.375rem 0.375rem 0;
    }
  }
}
