@mixin anchor($contrast) {
  a {
    text-decoration: none;
    color: adjust-color($color: $contrast, $alpha: -0.25);

    &:hover {
      color: $contrast;
    }

    &.active {
      color: $contrast;
      font-weight: 500;
    }

    &:disabled {
      pointer-events: none;
      color: grey;
    }
  }
}

@mixin btn($color) {
  background-color: $color;
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;

  &:hover {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

  &:active,
  &.active {
    background-color: darken($color, 15%);
    border-color: darken($color, 15%);
  }

  &:disabled {
    background-color: grey;
    border-color: grey;
    pointer-events: none;
  }

  &.btn-sm {
    font-size: 0.875rem;
    padding: 0.1875rem 0.375rem;
  }
}

@mixin icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: inherit;
  }
}
