@mixin anchor($contrast) {
  a {
    text-decoration: none;
    color: adjust-color($color: $contrast, $alpha: -0.25);

    &:hover {
      color: $contrast;
    }

    &.active {
      color: $contrast;
      font-weight: 500;
    }

    &:disabled {
      pointer-events: none;
      color: grey;
    }

    .no-style {
      color: $contrast;
    }
  }
}

@mixin btn($color) {
  background-color: $color;
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;

  &:hover {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

  &:active,
  &.active {
    background-color: darken($color, 15%);
    border-color: darken($color, 15%);
  }

  &:disabled {
    background-color: grey;
    border-color: grey;
    pointer-events: none;
  }

  &.btn-sm {
    font-size: 0.875rem;
    padding: 0.1875rem 0.375rem;
  }
}

@mixin icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  i {
    color: inherit;
  }
}

@mixin hover-bigger {
  transition: all 350ms ease;
  &:hover {
    transform: translateY(-0.25rem);
    transition: all 350ms ease;
    box-shadow: 5px 5px 7px grey;
  }
}

@mixin hover-info {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0%;
  font-size: 0.875rem;
  line-height: 0.875rem;
  width: fit-content;
  max-width: 15rem;
  background-color: #fffecf;
  border: 1px solid #cac98e;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;

  &.show {
    display: block;
  }
}
