@use "mixins";

$primary: #4039a8;
$secondary: rgb(248, 249, 250);
$bg: #fff;
$info: #f0ec27;
$warn: #db1717;
$success: #36c729;
$text: #2b2b2b;
$text-light: #d4d4d4;
$border: #0000002d;

* {
  color: $text;
}

body {
  background-color: $bg;
}

.primary {
  @include mixins.anchor($text-light);
  background-color: $primary;
  color: $text-light;
  border-color: $primary
}
.secondary {
  @include mixins.anchor($text);
  background-color: $secondary;
  color: $text;
}
.bg {
  @include mixins.anchor($text);
  background-color: $bg;
  color: $text;
}
.info {
  @include mixins.anchor($text);
  background-color: $info;
  color: $text;
}
.warn {
  @include mixins.anchor($text-light);
  background-color: $warn;
  color: $text-light;
}
.success {
  @include mixins.anchor($text-light);
  background-color: $success;
  color: $text;
}
.text {
  color: $text;
}

.text-light {
  color: $text-light;
}

.dark {
  @include mixins.anchor(rgb(60, 231, 68));
  background-color: $text;
  color: $text-light;
  * {
    color: $text-light;
  }
}

.divider {
  border-top: 0.5px solid $border;
  border-color: $border;
}

.wrapper {
  display: flex;
  align-items: flex-start;

  &.aligne-base {
    align-items: baseline;
  }

  &.justify-between {
    justify-content: space-between;
  }
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.shadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.btn {
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  padding: 0.375rem 0.75rem;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $text-light;
  }
}
