@use "mixins";

$primary: #4039a8;
$secondary: rgb(207, 211, 214);
$bg: #fff;
$info: #f0ec27;
$warn: #db1717;
$success: #36c729;
$text: #2b2b2b;
$text-light: #d4d4d4;
$border: #0000002d;

* {
  color: $text;
}

body {
  background-color: $bg;
}

.primary {
  @include mixins.anchor($text-light);
  &.btn {
    @include mixins.btn($primary);
  }
  &.icon-btn {
    @include mixins.icon-btn;
  }
  background-color: $primary;
  color: $text-light;
  border-color: $primary;
}
.secondary {
  @include mixins.anchor($text);
  &.btn {
    @include mixins.btn($secondary);
  }
  &.icon-btn {
    @include mixins.icon-btn;
  }
  background-color: $secondary;
  color: $text;
  border-color: $secondary;
}
.bg {
  @include mixins.anchor($text);
  background-color: $bg;
  color: $text;
}
.info {
  @include mixins.anchor($text);
  &.btn {
    @include mixins.btn($info);
  }
  &.icon-btn {
    @include mixins.icon-btn;
  }
  background-color: $info;
  color: $text;
  border-color: $info;
}
.warn {
  @include mixins.anchor($text-light);
  &.btn {
    @include mixins.btn($warn);
  }
  &.icon-btn {
    @include mixins.icon-btn;
  }
  background-color: $warn;
  color: $text-light;
  border-color: $warn;
}
.success {
  @include mixins.anchor($text-light);
  &.btn {
    @include mixins.btn($success);
  }
  &.icon-btn {
    @include mixins.icon-btn;
  }
  background-color: $success;
  color: $text;
  border-color: $success;
}
.text {
  color: $text;
}

.text-light {
  color: $text-light;
}

.dark {
  @include mixins.anchor(rgb(60, 231, 68));
  background-color: $text;
  color: $text-light;
  * {
    color: $text-light;
  }
}

.divider {
  border-top: 0.5px solid $border;
  border-color: $border;
}

.wrapper {
  display: flex;
  align-items: flex-start;

  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }

  &.aligne-base {
    align-items: baseline;
  }

  &.aligne-center {
    align-items: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.gap-1 {
    gap: 1rem;
  }
  &.flex-wrap {
    flex-wrap: wrap;
  }
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.shadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.mb-1 {
  margin-bottom: 1rem;
}

.error {
  color: $warn;
}

.hover-bigger {
  @include mixins.hover-bigger()
}

.default-component {
  text-align: center;
}